# 忽略配置文件
.vscode/settings.json
!/.vscode/launch.json

# 忽略处理后的数据
data/processed/*
!data/processed/.gitkeep

# 忽略训练模型
/checkpoint/best/*
!/checkpoint/best/.gitkeep
/checkpoint/last/*
!/checkpoint/last/.gitkeep

# 忽略预训练模型
/pretrained/*
!/pretrained/.gitkeep

# 忽略日志
/logs/*
!/logs/.gitkeep

# 忽略python运行文件
__pycache__/

# 忽略测试
test/